Django
django-cors-headers
django-ninja
django-ninja-jwt[crypto]
pydantic[email]
djangorestframework
channels
daphne
Pillow
celery
stripe
dj-database-url
python-dotenv
psycopg2-binary
whitenoise
gunicorn==22.0.0
rav
